In [1]:
import re

In [8]:
text = 'ohho hunger man , woman , oooo ohohohoho    ooooo'

In [23]:
re.findall(r'[^hunger]o',text)

['wo', ' o', 'oo', ' o', ' o', 'oo', 'oo']

In [24]:
mails = 'gagannagpal68@gmail.com is the mail id of gagan nagpal , he also has another mail id which is nagpalgagan68@gmail.com'

In [61]:
re.findall(r'(\w+)@(\w+).com',mails)

[('gagannagpal68', 'gmail'), ('nagpalgagan68', 'gmail')]

In [81]:
dates='''
Athe Fourteenth of March, 2016 March the Fourteenth, 2016
B 14th Sep 2016 September 14th, 2016
C 14 September 2016 March 14, 2016
D 14/3/2016 3/14/2016
E 14/3/16 3/14/16
F 14/03/16 03/14/16
'''

In [86]:
re.findall(r'\d{1,2}/\d{1,2}/\d{2,4}',dates)

['14/3/2016', '3/14/2016', '14/3/16', '3/14/16', '14/03/16', '03/14/16']

In [87]:
re.findall(r'\w+ (?:Jan|Feb|Mar|April|May|Jun|July|Aug|Sep|Oct|Nov|Dec)[a-z]* \w+',dates)

['2016 March the', '14th Sep 2016', '14 September 2016']

## Pandas and Text Data

In [108]:
import pandas as pd
time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]
df = pd.DataFrame(time_sentences,columns=['text'])

In [109]:
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [111]:
df.text.str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [130]:
df.text.str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [133]:
## groups of hours and minutes
df.text.str.findall(r'\d{1,2}:\d{2}')

0            [2:45]
1           [11:30]
2            [7:00]
3           [11:15]
4    [08:10, 09:00]
Name: text, dtype: object

In [138]:
df['text'].str.extract(r'(\d{1,2}):(\d{2})')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [140]:
df['text'].str.extract(r'(?P<Hour>\d{1,2}):(?P<Minute>\d{2})',exoand)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

  Hour Minute
0    2     45
1   11     30
2    7     00
3   11     15
4   08     10